        <div id="sidebar">
          <div class="adherer">
            <a href="http:///april.org/adherer"><img src="{{theme.url_for_assets}}/images/adherer.png" alt="Adhérez à l'April"/></a>
          </div>

          <!--
          <div id="live">
            <h3>Direct</h3>
            <audio controls="controls"> 
              <source src="http://stream.tryphon.eu/april.ogg" type="audio/ogg" />
            </audio>
            <p>
              <a href="http://stream.tryphon.eu/april.ogg.m3u">Ecouter en direct</a>
              <br/>(et en format libre)
            </p>
          </div>
          -->

          <div class="podcast">
            <a href="{{show.url_for_podcast}}">
              <img src="{{theme.url_for_assets}}/images/podcast.png"/>
            </a>
            <h3>Podcast</h3>
            <p>
              Abonnez vous<br/>pour ne rien rater
            </p>
            <p>
              <a href="{{show.url_for_podcast}}" onclick="location.href = '{{show.itpc_url_for_podcast}}'; return false;" title="Copier cette URL pour vous abonner au podcast">{{show.url_for_podcast}}</a>
            </p>
            <p>
              <a href="{{show.url_for_podcast}}" title="Voir le feed RSS">Fil RSS</a> - <a href="http://wiki.tryphon.org/comment_lire_un_podcast" title="Comment lire un podcast ?">Aide</a>
            </p>
          </div>

          <div>
            <h3>Format ouvert</h3>
            <p>
              Les documents audio vous sont proposés sous des <a href="http://fr.wikipedia.org/wiki/Format_ouvert">formats ouverts</a>.
            </p>
            <p>
              Si votre ordinateur se montrait réticent, offrez lui un peu de logiciel libre : <a href="http://www.videolan.org/vlc/">VLC</a> vous permettra d'écouter le tout sans soucis.
            </p>
          </div>

        </div>
