<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr"> 
  
  <head> 
    <title>{{episode.title }} {{show.name}} | Promouvoir et défendre le logiciel libre</title> 
    {% include 'head' %}

    <link rel="stylesheet" type="text/css" href="/stylesheets/player.css"/>
    <script src="/javascripts/prototype.js"></script>
    
    <script src="http://player.tryphon.eu/player.js"></script>

    <script>
      soundManager.onready(function() { 
        $$('.ui360 a').each(function(link) { 
          link.href = link.href.replace("mp3","ogg");
        })
      });
    </script>
  </head>

  <body>
    <div id="page">
      {% include 'header' %}

      <div id="main">
        <h1 class="title"><a href="{{ show.url_for }}">{{ show.name }}</a> | {{episode.title}}</h1>

        {% include 'sidebar' %}

        <div id="content">
          <div class="listen">
            <p class="image">
              {{ episode.image.tag }}
            </p>

            {% unless episode.principal_contents == empty %}
       	      {% for content in episode.principal_contents %}
  	          <div class="audio main_content">
                {{ content | audio_player:'small' }}
                <p class="link">
                  <a href="{{content.url_for_playlist}}" title="Ecouter '{{content.name}}'">Ecouter</a> 
                  | Télécharger en <a href="{{content.url_for_ogg}}">Ogg</a>
                </p>
  	          </div>
              {% endfor %}
            {% endunless %}
          </div>

          <div class="description">
            {{ episode.html_description }}
          </div>
        </div>
      </div>

      {% include 'footer' %}
    </div>
  </body>
</html>
