<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr"> 
  
  <head> 
    <title>{{show.name}} | Promouvoir et défendre le logiciel libre</title> 
    {% include 'april/head' %}
  </head>

  <body>
    <div id="page">
      {% include 'april/header' %}

      <div id="main">
        <h1 class="title">{{show.name}} | Promouvoir et défendre le logiciel libre</h1>

        {% include 'april/sidebar' %}

        <div id="content">
          <div class="box">
            {{ show.description | textilize }}
          </div>

          <div class="posts">
            {% for post in show.posts limit:1 %}
            <h2>{{ post.title }}</h2>
              {{ post.description | textilize }}
            {% endfor %}
          </div>

          <div class="episodes">
            {% for episode in show.episodes %}
            <h2><a href="{{ episode.url_for }}" title="Ecouter {{ episode.title }}">{{ episode.title }}</a></h2>
            {{ episode.image.tag_for_thumb }}
            {{ episode.description|textilize|strip_tags|truncate:500 }}
            {% if episode.broadcasted_at %}
            <p class="broadcast_date">{{episode.broadcasted_at | date: 'le %d/%m/%Y'}}</p>
            {% endif %}
            <p>
              <a href="{{ episode.url_for }}" title="Ecouter {{ episode.title }}">Ecouter la suite ...</a>
            </p>
            {% endfor %}
          </div>

        </div>

      </div>

      {% include 'april/footer' %}

    </div>

  </body>
</html>
